
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    width: 100%;
}


.container{
    max-width: 1300px;
    padding: 0px 100px;
    margin: auto;
    z-index: 10;
}
.text-secondary{
    color:white;
}

.text-center{
    text-align: center;
}
.m-heading{
    font-size: 32px;
    margin-bottom: 12px;
}
.btn-md{
    display: inline-block;
    background: #d46e25;
    color: #08080A;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    
}
.btn-md:hover{
    color: #d46e25;
    background: #f7c49f;
}

.title::after{
    content: '';
    background:  linear-gradient(rgba(0,0,0,0.6), #d46e25);
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(1px);
}

.showcase{
    background-image: url('/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 5px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navbar.sticky{
    padding: 10px 100px;
    background: #07080B;
    
}
.navbar .logo{
    color: #d46e25;
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar ul li span{
    color: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}
.navbar ul li a{
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: #d46e25;
}

/* Showcase content section */
.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
} 

/* About section content */

.about {
    background-color: #111111;
    color: white;
    padding: 50px 0;
  }
  
  .about-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .photo {
    margin-right: 20px;
  }
  
  .photo img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
  }
  
  .column.right {
    max-width: 600px;
  }
  
  .text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .column p {
    font-size: 1rem;
    line-height: 1.5;
  }
  

.about .about-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}




/* My Skills Section */

#skills{
    background: #07080B;
}

.skills h1{
    color: #d46e25;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.skills h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.skills .title::before{
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}
.skills .title::after{
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}

.skills .skill-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}

.skills .skill-content .left .text{
    font-size: 27px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    color: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}
.skills .skill-content .left p{
    color: #A9ADB8;
    text-align: justify;
    line-height: 1.4;
    padding-top: 15px;
}
.skills .skill-content .left a{
    display: inline-block;
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    color: #07080B;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid linear-gradient(rgba(0,0,0,0.6), #d46e25);
    transition: all 0.3s ease;
}
.skills .skill-content .left a:hover{
    color: #d46e25;
    background: none;
}
.skills .skill-content .right .bars{
    margin-bottom: 20px;
}
.skills .skill-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    color: #A9ADB8;
}
.skills .skill-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .line{
    height: 2px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}

.skills .skill-content .right .ps::before{
    width: 95%;
}
.skills .skill-content .right .mg::before{
    width: 90%;
}
.skills .skill-content .right .axd::before{
    width: 70%;
}
.skills .skill-content .right .uxd::before{
    width: 50%;
}
.skills .skill-content .right .html::before{
    width: 40%;
}
.skills .skill-content .right .dm::before{
    width: 40%;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;  
}
.work img{
    width: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}




/* Contact Me Section */

section{
    padding: 40px 0;
    background: #07080B;
}

.contact h1{
    color: #d46e25;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.contact .title::before{
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}
.contact .title::after{
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
}
.contact .contact-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}
.contact .contact-content .left h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #d46e25;
}
.contact .contact-content .left .form-group input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #262626;
    background: #262626;
    border-radius: 5px;
    color: #fff;
    
}
.contact .contact-content .left .form-group textarea{
    width: 100%;
    background: #262626;
    padding: 10px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #262626;
    color: #fff;
}
.contact .contact-content .left .btn-md{
    padding: 8px 18px;
    font-size: 16px;
}

.contact .contact-content .right{
    color: #A9ADB8;
}
.contact .contact-content .right h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.contact .contact-content .right p{
    line-height: 1.6;
}
.contact .contact-content .right .items{
    margin: 10px 0;
}
.contact .contact-content .right .items .item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contact .contact-content .right .items .item i{
    padding: 16px;
    border: 1px solid #A9ADB8;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-content .right .items .item span{
    font-size: 14px;
}
.contact .contact-content .right .links{
    overflow: hidden;
    padding: 10px 0;
}
.contact .contact-content .right .links li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}
.contact .contact-content .right .links li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
}
.contact .contact-content .right .links li a:hover{
    color: #d46e25;
}
#footer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
/*--- CSS SMALL SCREEN--*/
nav .fa-solid{
    display: none;  
   }

.map-display {
    width: 100vw;
    overflow: hidden;
}
@media only screen and (max-width: 720px){
    /* .showcase{
        background-image: url('./images/background1.jpg');
    } */
    .container {
        max-width: 720px;
        padding: 0px 10px;
    }
    .showcase-img img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
    }
    .showcase-text{
        max-width: 300px;
        padding-top: 360px;
        padding-left: 20px;
        color: #fff;
    }
     .showcase-text .text-1{
        font-size: 10px;
    }
    .showcase-text .text-2{
        font-size: 15px;
        font-weight: 700;
    }
    .showcase-text .text-3{
        font-size: 18px;
        margin: 5px 0;
        font-weight: 700;
    }
    .btn-md{
        padding: 8px 18px;
        font-size: 16px;
    }
    .logo{
        margin-left: -80px;
        
    }
    nav .fa-solid{
        display: block;  
        font-size: 25px;

       }
    nav ul{
        background: #d46e25;
        position: fixed;
        top: 0;
        right: 500px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        margin-right: 425px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 40px;
    }
    .bx{
        display: none;
    }
    .navbar ul li a{
        color: #07080B;
    }
    .navbar ul li a:hover{
        background-color: #07080B;
        color: #fff;
    }
    nav ul .fa-solid{
       position: absolute;
       top: 25px;
       left: 25px;
       cursor: pointer; 
    }
    .fa-bars{
        margin-right: 1070px;
        cursor: pointer;
        color: #d46e25;
    }
    /*--- ABOUT ME---*/
    .about{
        width: 100%;
        height: 105vh;
    }
    .about h1{
        display: none;
    }
    .about h5{
        margin-top: 50px;
        font-weight: 700;
        opacity: 0.7;
        transform: translateY(-65px);
    }
    .about .about-content{
        display: block;
        width: 100%;
    }
    .about .about-content .left{
        width: 600%;
        height: 400px;
        display: flex;
        padding-right: 800px;
        align-items: center;
    }
    
    .about .about-content .left img{
        width: 300px;
        object-fit: cover;
        height: 300px;
        
    }
    .about .about-content .right{
        top: 30px;
        margin-right: 700px;
        width: 350px;
        color: #A9ADB8;
    }
    
    .about .about-content .right .text{
        font-size: 20px;
        font-weight: 700;
        margin-top: -50px;
    }
    .about .about-content .right p{
        text-align: justify;
        margin-top: 30px;
    }
    .about .about-content .right .text span{
        color: #d46e25;
        font-size: 15px;
    }
    .about .about-content .right .table{
        display: none;
    }
/* end */

/* skills */
    .skills h1{
       display: none;
    }
    .skills h5{
        margin-top: 50px;
        font-weight: 700;
        font-size: 30PX;
        opacity: 0.7;
        transform: translateY(-65px);
    }
    .skills .title::before{
        background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    }
    .skills .title::after{
        background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
    }
    
    .skills .skill-content .column{
        margin-top: 40px;
        width: calc(50% - 50px);
    }
    
    
    
     
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
        color: #fff;
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }
   
    #footer{
        text-align: center;
        background: linear-gradient(rgba(0,0,0,0.6), #d46e25);
        padding: 30px 0;
        color: #07080B;
        font-weight: 700;
    }
    

}
/* end */
/* portfolio */
/* CSS styles for the portfolio section */
#portfolio {
    background-color: #000;
    padding: 50px 0;
  }
  
  .port-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .port-cards {
    flex: 0 0 30%; /* Each card takes up 30% of the container width */
  }
  
  .port-card {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .cards-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f8f3f3;
  }
  
  .port-text {
    font-size: 1rem;
    color: #666;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    background-color: #d46e25;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:#e8c5ac ;
    border-radius: 15px;
  }
  
/* port end */
/* Styles for the blog section */
#blog {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.m-heading {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-cards {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width here */
    margin-bottom: 40px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}

