body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
 
}
/* Style for the form container */
#registrationForm {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  opacity: 1;
}

/* Style for the form labels */
label {
  display: block;
  font-weight: bold;
}
h2{
  text-align: center;
  justify-content: center;
}

/* Style for the input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  border-radius: 5px;
}

/* Style for the submit button */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #d46e25;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for error messages */
#errorContainer {
  background-color: red;
  margin-bottom: 15px;
  color: black;
  
}
#successContainer {
  background-color: green;
  margin-bottom: 15px;
  color: black;
}